
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="order.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <style>
    
    </style>
</head>
<body style="background-image:'/bg.jpg'">
<h1>Order here and wait untill your name is called!!</h1><hr>
<form action="/submit" method="POST">
<label>Name : </label>
<input type="text" name="name"><br><br>
<label>Item : </label>
<input type="text" name="item"><br><br>
<label>Nos : </label>
<input type="number" name="nos"><br><br>
<input type="submit" value="order">
</body>
</html>